.title {
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.436);
    text-align: center;
    width: 57%;
    position: relative;
    margin: 0 auto;
    padding: 7px;
}

.title h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.title span {
    color: rgb(29, 29, 255);
    font-size: 125%;
}

.search {
    position: relative;
    padding: 5px;
  }
  
  .search input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 5px;
  }
  .search i input {
    width: 90px;
    background: rgb(29, 29, 255);
    text-align: center;
    color: white;
  }