header {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 25vh;
    background-image: url(/IMG/4kPruebaimagen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-text {
    text-align: center;
    color: #fff;
    justify-content: center;
    background-size: cover;
}

.banner-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.banner-text span {
    color: rgb(29, 29, 255);
}

.banner-text h2 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 2em;
}

.text-bar {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: rgb(31, 61, 255);
    height: 2em;
    align-items: center;
    top: 25vh;
    z-index: 1;
}

.text-bar:hover {
    border: 1px solid rgb(31, 3, 51);
}

#divider {
    height: 35vh;
}